@font-face {
 font-family: "Hanken";
 src: url("../fonts/Hanken-Book.ttf");
}
body {font-family: "Hanken", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Playfair Display";
  letter-spacing: 5px;
}
.active{
  background-color: rgb(200, 200, 200);
}
.DaNumbazz {
  background-color: rgb(241, 241, 241);
  color:#000;
  max-width:800px;
  margin: 100px auto 0;
  text-align: center;
  display: flex;
}

.counter-value {
  display: table-cell;
  margin:1.5%;
  font-size:50px;
  background-color: rgb(241, 241, 241);
  vertical-align: middle;
}
.azCommentaire{
  font-size : 1.25em;
}

.box {
  position: relative;
}

.postcardy {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  /*backface-visibility: hidden;*/
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.postcardy:hover,.blurryImg {
  -webkit-filter: blur(15px);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-filter: all .25s ease;
  filter: blur(7px);
}

.text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2em;
  padding: 16px 32px;
}
