@font-face {
 font-family: "Hanken";
 src: url("../fonts/Hanken-Light.ttf");
}
body {font-family: "Hanken", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Hanken";
  letter-spacing: 5px;
}
.active{
  background-color: rgb(200, 200, 200);
}
.DaNumbazz {
  background-color: rgb(241, 241, 241);
  color:#000;
  max-width:800px;
  margin: 100px auto 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.numContainer{
  flex: 1 0 18%;
}

.counter-value {
  display: table-cell;
  margin:1.5%;
  font-size:300%;
  background-color: rgb(241, 241, 241);
  vertical-align: middle;
}
.azCommentaire{
  font-size : 1.25em;
  padding-bottom: 0px;
}

.box {
  position: relative;
}

.postcardy {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  /*backface-visibility: hidden;*/
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.postcardy:hover,.blurryImg {
  -webkit-filter: blur(15px);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-filter: all .25s ease;
  filter: blur(7px);
  transform: scale(1.2);
  z-index: 1;
}

.text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2em;
  padding: 16px 32px;
}
.w3-top{
  z-index: 3;
}
.hideElem{
  display: none;
}
.dispElem{
  display: block;
}
.article {
  transition: transform .2s;
  margin: 0 auto;
}
.article:hover {
  transform: scale(1.05);
}

.headerImg{
  width: 100%;
  max-height:80vh;
  object-fit: cover;
  filter : brightness(100%);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.headerText p{
    font-size: 1.1vw;
}
.headerText h3{
    font-size: 2vw;
}
.mySlides{
  /*display: none;*/
}
.enlargePic{
  -webkit-transition: translate 1s ease-in-out;
  -moz-transition: translate 1s ease-in-out;
  -o-transition: translate 1s ease-in-out;
  transition: translate 1s ease-in-out;
  width:100%;
  /*height: 50vh;*/
  /*object-fit:cover;*/
  z-index: 0;
}
.pContainer{
  max-height: vh;
}
.lillC{
  height: 100%;
}
.lillC.green{
  background-color:#009246;
}
.lillC.red{
  background-color:#CE2B37;
}
.lillC.white{
  background-color:#FFFFFF;
}
.imgEventsElem {
  position: relative;
}
.imgEventsElem img{
  width: 100%;
  height: auto;
  object-fit: cover;
}
.imgEventsElemNav {
  height: 20vh;
  width: auto;
}

.caption {
  background-color:  rgba(255,255,255,0.8);
  opacity: 0.5;
  bottom: 0;
  min-height: 20px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 2;
  font-size: 2.5vw;

}
.caption strong{
  color: #000;
}.navbar {
  overflow: hidden;
}

.pgElem{
  padding-top: 10em;
}
.navbar a {
  float: left;
  font-size: 16px;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  padding: 14px 16px;
  margin: 0;
}

.navbar a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #ddd;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.show {
  display: block;
}
.slick-prev:before {
  color: black;
}
.slick-next:before {
  color: black;
}
a{
  text-decoration-line: none;
}
.dropdown-menu.show{
  display: contents !important;
}
.dropdown-menu{
  position: static !important;
}
