@font-face {
 font-family: "Hanken";
 src: url("../fonts/Hanken-Light.ttf");
}
body {font-family: "Hanken", Georgia, Serif;}
h1, h2, h3, h4, h5, h6 {
  font-family: "Hanken";
  letter-spacing: 5px;
}
.active{
  background-color: rgb(200, 200, 200);
}
.DaNumbazz {
  background-color: rgb(241, 241, 241);
  color:#000;
  max-width:800px;
  margin: 100px auto 0;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
}

.numContainer{
  flex: 1 0 18%;
}

.counter-value {
  display: table-cell;
  margin:1.5%;
  font-size:4em;
  background-color: rgb(241, 241, 241);
  vertical-align: middle;
}
.azCommentaire{
  font-size : 1.25em;
  padding-bottom: 0px;
}

.box {
  position: relative;
}

.postcardy {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  /*backface-visibility: hidden;*/
  -webkit-transition: all .25s ease;
  -moz-transition: all .25s ease;
  -o-transition: all .25s ease;
  -ms-transition: all .25s ease;
  transition: all .25s ease;
}

.postcardy:hover,.blurryImg {
  -webkit-filter: blur(15px);
  -moz-filter: all .25s ease;
  -o-filter: all .25s ease;
  -ms-filter: all .25s ease;
  filter: blur(7px);
  transform: scale(1.2);
  z-index: 1;
}

.text {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.box:hover .image {
  opacity: 0.3;
}

.box:hover .text {
  opacity: 1;
}

.text {
  color: white;
  font-size: 2em;
  padding: 16px 32px;
}
.w3-top{
  z-index: 3;
}
.hideElem{
  display: none;
}
.dispElem{
  display: block;
}
.article {
  transition: transform .2s;
  margin: 0 auto;
}
.article:hover {
  transform: scale(1.05);
}

.topnav {
  overflow: hidden;
}

.topnav a {
  float: right;
  display: block;
  text-align: center;
  padding: 14px 16px;
}

.topnav .icon {
  display: none;
}

@media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: left;
    display: block;
  }
}

@media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive .icon {
    position: absolute;
    left: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: right;
  }
}
.headerImg{
  width: 100%;
  max-height:80vh;
  object-fit: cover;
  filter : brightness(70%);
  -webkit-transition: opacity 1s ease-in-out;
  -moz-transition: opacity 1s ease-in-out;
  -o-transition: opacity 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}
.headerText p{
    font-size: 1.1vw;
}
.headerText h3{
    font-size: 2vw;
}
.mySlides{
  /*display: none;*/
}
.enlargePic{
  -webkit-transition: translate 1s ease-in-out;
  -moz-transition: translate 1s ease-in-out;
  -o-transition: translate 1s ease-in-out;
  transition: translate 1s ease-in-out;
  width:100%;
  /*height: 50vh;*/
  /*object-fit:cover;*/
  z-index: 0;
}
